nav ul{
    list-style-type: none;
   
}

nav ul li{
    display: inline;
    margin-right: 30px;
}
nav ul li a{
    
    color: black;
    text-decoration: none;
}

nav{
    display: flex;
    background-color: rgb(231, 234, 240);
    padding-left: 90px;
    padding-right: 90px;
    height: 7vh;

}

nav div {
    display: flex;
    font-family: cursive;
}
nav .left-side {
    flex: 50%;
    align-items: center;

    
}

nav .right-side {
    
    flex: 50%;
    justify-content: flex-end;
    align-items: center;
    
}

nav .right-side a{
 background-color:black;
 border-radius: 10px;
 color: white;
 text-decoration: none;
 padding: 5px 15px;
}

.container-main {

   display: flex ;
    height: 93vh;
    align-items: center;
    justify-content: center;
    
    
}

.container-content{

    width: 100%;
    display: flex;
}



.container-content .left-side {
    flex: 70% ;
    margin-right: 50px;
    
    
    
}

.container-content .right-side {
    flex: 30% ;
    margin-top: 10;

}

.container-skill {
    padding-top: 10px;
   display: flex;
}
      
.social-media {
    display: flex;
    margin-right: 30px;
    padding-top: 40px;
}

.blog-form {
    display: flex;
    justify-content: center;
}

.blog .container-form{
    width: 500px;
} 

.blog .container-form h1{
    text-align: center;
    margin-top: 40px;
}

.blog form label{
font-size: 18px; font-weight: 600; font-weight: bold; font-family: 'myFirstFont' ;
}


.blog form .none-checkbox input , textarea{
    display: flex;
    width: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    box-shadow: 0px 5px #bebdbd;  
    margin-bottom: 25px;
}

.blog form .none-checkbox .Name{
    display: flex;
   
}

.blog form .none-checkbox .Name input{
    margin-right: 20px;
    width: 240px;
}
.blog form .check-box label{
    font-size: 18px;  
    font-weight: 600; 
    font-family: 'myFirstFont' ; 
    font-weight: 500; 
    margin-right: 80px ;
}

.blog form .input-blog-image-group {
    font-size: 20px;
    font-weight: 400;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #f4f3f3;
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    cursor: pointer;
    }
    
    .blog form .input-blog-image-group label p {
    font-size: 15px;
    margin-right: 370px;
    }
    
    .blog form .input-blog-image-group label {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    width: 500px;
    }
    
    .blog form .button-group {
        text-align: right;
        }
        
        .blog form button {
        margin-top: 20px;
        padding: 4px;
        width: 105px;
        font-size: 17px;
        background: #000000;
        border-radius: 20px;
        border: none;
        color: rgb(255, 253, 253);
        cursor: pointer;
        }
        
        .blog hr {
        border: 1px solid #dbdbdb;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
       
        }

        .blog .blog-list {
            margin-top: 80px;
            margin-bottom: 80px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
           
        
            }
            
            .blog .blog-list .blog-list-item {
            width: 25%;
            padding: 10px;
            margin-bottom: 20px;
            border: 2px solid #dbdbdb;
            border-radius: 8px;
            background-color: whitesmoke;
            margin-right: 20px;
            margin-left: 70px;
            }
            .blog .blog-list .blog-list-item .blog-image {
                flex: 1;
                }
          
            .blog .blog-list .blog-list-item .blog-image img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            }
            
            .blog .blog-list .blog-list-item .blog-content {
            padding: 10px;
          
            }
            .blog .blog-list .blog-list-item .logo {
                display: flex;
                
                padding-top: 15px;
            }
            
            .blog .blog-list .btn-group {
            margin-top: 40px;
            margin-left: 40px;
            margin-bottom: 10px;
            }
            
            .blog .blog-list .btn-group .btn-edit {
                padding: 5px 70px;
                border: 0;
                border-radius: 10px;
                background: #020014;
                font-size: larger;
                text-decoration: none;
                color: rgb(255, 255, 255);
                margin-right: 10px;
            }
            
            .blog .blog-list .btn-group .btn-post {
                padding: 5px 70px;
                border: 0;
                border-radius: 10px;
                background: #020014;
                font-size:larger;
                text-decoration: none;
                color: rgb(255, 255, 255);
                margin-right: 10px;
            }   
            
           
            .blog  .blog-list .detail-blog-content {
            font-weight: 300;
            font-size: 12px;
            line-height: 20px;
            }
            
            .blog .blog-list .blog-list-item p {
            margin-top: 20px;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            text-align: justify;
            }
            
            /* Blog Detail */
     .main-project-container{
         margin: 25px;
    
     }
    .main-project-container h1 {
    text-align: center;
    margin: 40px auto 40px auto;
}

.content {
    margin: 30px 50px 30px 50px;
}

.project-header-container {
    display: flex;
    height: 400px;
}

.header-leftside {
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
}

.header-leftside img {
    height: 80%;
    width: 100%;

}

.header-rightside {
    flex: 30%;
}

h2 {
    display: block;
    margin-top: 40px;
}

div img {
    width: 30px;
}

.header-duration {
    display: flex;
    flex-direction: column;
}

.header-duration-tanggal {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-duration-tanggal img {
    margin-right: 7px;
    margin-left: -15;
    width: 60px;
}

.header-duration-waktu {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-duration-waktu img {
    margin-right: 20px;
    width: 30px;
}

.header-tech {
    display: flex;
}

.header-tech img {
    margin-right: 20px;
    
}

.header-tech-leftside {
    margin-right: 60px;
}

.header-tech-leftside div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.header-tech-rightside {
    flex: 1;
}

.header-tech-rightside div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

div span {
    font-size: 20px;
    font-weight: bold;
}

.content p {
    text-align: justify;
}
            
            





